<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/login.css" />
  </head>
  <body>
    <div class="login-container">
      <h2>Login/SignUp</h2>
      <form id="loginForm" action="/login" method="POST">
        <input
          type="email"
          name="email"
          placeholder="Enter your email"
          required
        />
        <button type="submit">Next</button>
      </form>
    </div>
  </body>
</html>
